# Core RL training deps
gymnasium==0.28.1
torch>=2.7.0,<2.10.0       # PyTorch 2.7.x+ supports Python 3.13
numpy>=1.26,<2.0
traci==1.18.0
sumolib
pandas
matplotlib
scipy
ray[rllib]>=2.45.0,<2.52.0 # First Ray version to support Python 3.12+
